<!DOCTYPE html>
<html>
  <head>
    <title>Medical Devices Data: <%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body bgcolor="#E6E6FA">
    <a href="/"><h1>Component Data</h1></a>
    <div itemscope itemtype="http://schema.org/Product/Clinical/Diagnostic/Component">
     <dl>
      <dt>Name</dt>
      <span itemprop="name"> <dd><%=item.name%></dd> </span>
      <% if (item.description) { %>
      <dt>Description</dt>
      <span itemprop="description"> <dd><%=item.description%></dd> </span>
      <% } %>
      <% if (item.system) { %>
      <dt>Attached to System</dt>
      <span itemprop="model" itemscope itemtype="http://schema.org/Product/Clinical/Diagnostic/System"
        <span itemprop="name"> <dd><%=item.system%></dd> </span>
      </span>
      <% } %>
      <% if (item.part_type) { %>
      <dt>Type of Part</dt>
      <dd><%=item.part_type%></dd>
      <% } %>
      <dt>Status</dt>
      <dd><%=item.part_status%></dd>
     </dl>
    </div>    
    <div class="control">
      <h2>Update Component</h2>
      <form method="post" action="/components/<%=item._id%>">
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->
        <label>Name: 
          <input name="item[name]" value="<%=item.name%>" type="text" size="60" required>
        </label>
        <label>System: 
          <select name="item[system]" required>
            <% related_items.forEach(function(related_item) { %>
            <option value="<%=related_item._id%>"
              <% if (related_item._id === item.system) { %>selected<% } %>>
              <%=related_item.sys_name%>
            </option>
            <% }); %>
          </select>
        <label> Type of Part:
          <select name="item[part_type]" required>
            <option value="required">Required </option>
            <option value="optional">Optional </option>
          </select>
        </label>
        <label>Component Status:
          <select name="item[part_status]" required>
            <option value="Active">Active </option>
            <option value="Obsolete">Obsolete </option>
          </select>
        </label>

        <button>Update</button>
      </form>
    </div>
  </body>
</html>
