<!DOCTYPE html>
<html>
  <head>
    <title>Medical System Data: <%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body bgcolor="#E6E6FA">
    <div itemscope itemtype="http://schema.org/Product/Clinical/Diagnostic/System">
     <a href="/"><h1>System Data</h1></a>
     <dl>
      <dt>System name</dt>
      <span itemprop="name"> <dd><%=item.sys_name%></dd></span>
     <dt>Country of Origin</dt>
      <span itemprop="manufacturer" itemscope itemtype="http://www.schema.org/Corporation"
        <span itemprop="location" itemscope itemtype="http://www.schema.org/PostalAddress"
          <span itemprop="addressCountry" itemscope itemtype="http://www.schema.org/Country"
           <span itemprop="name"> <dd><%=item.sys_country%></dd> </span>
          </span>
        </span>
      </span>
      <dt>Application</dt>
      <span itemprop="brand/application"> <dd><%=item.sys_application%></dd> </span>
      <dt>Product Manager</dt>
      <span itemprop="productManager" itemscope itemtype="http://www.schema.org/Person"
       <span itemprop="name"> <dd><%=item.sys_country%></dd> </span>
      </span>
      <dt>Corporate Website</dt>
      <dd> <a itemprop="url" href="<%=item.website%>"> 
                  <%=item.website%></a> 
      </dd>
      <dt>Image URL</dt>
      <dd><img itemprop="image" src="<%=item.image%>" alt="<%=item.name%>"></dd>
      <div style="color:#ff0000"> **LINKED COMPONENTS**
       <dd>
        <% if (related_items.length > 0) { %>
        <ul>
          <% related_items.forEach(function(related_item) { %>
          <li>
            <a href="/components/<%=related_item._id%>">
              <%=related_item.name%>
            </a>
          </li>
          <% }); %>
        </ul>
        <% } else { %>
        No Components have been added to this System.
        <% } %>
       </dd>
      </div>
     </dl>
    </div>
    <div class="control">
      <h2>Add a new Component</h2>
      <form id="create-component" method="post" action="/components/">
        <input type="hidden" name="item[system]" value="<%=item._id%>">
        <!-- The line above links the candidate to be created to this party. -->
        <label>Component name: 
          <input name="item[name]" type="text" size="60" required
                   placeholder="Standard Name">
        </label>
        <label> Type of Part:
          <select name="item[part_type]" required>
            <option value="required">Required </option>
            <option value="optional">Optional </option>
          </select>
        </label>
        <label> Component Status:
          <select name="item[part_status]" required>
            <option value="Active" selected="selected" >Active </option>
            <option value="Obsolete">Obsolete </option>
          </select>
        </label>
        <button>Add</button>
      </form>
    </div>

    <div class="control">
      <h2>Update System</h2>
      <form method="post" action="/systems/<%=item._id%>">
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->

        <label>System name: 
          <input name="item[sys_name]" value="<%=item.sys_name%>" type="text" size="60" required
                 placeholder="System Standard Name">
        </label>
        <label>Country of Origin <br>
          <input name="item[sys_country]" value="<%=item.sys_country%>" size="50" required >
        </label>
        <label>Application <br>
          <input name="item[sys_application]" value="<%=item.sys_application%>" size="50" required >
        </label>
        <label>Product Manager:
          <input name="item[sys_manager]" value="<%=item.sys_manager%>" type="text" size="60" required
                 placeholder="Product Manager Full Name">
        </label>
        <label>Corporate image URL:
          <input name="item[image]" value="<%=item.image%>" type="url" size="100">
        </label>
        <label>Corporate Product Website:
          <input name="item[website]" value="<%=item.website%>" type="url" size="100">
        </label>
        <a href="http://www.biomerieux-diagnostics.com/servlet/srt/bio/clinical-diagnostics/dynPage?node=products_clinical_diagnostics">Visit Product Library here</a>

        <button>Update</button>
      </form>
    </div>

  </body>
</html>
